daemonset:
  enabled: true
  podSecurityContext:
    runAsUser: 0

extraEnvs:
  - name: ES_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password
  - name: NODE_NAME
    valueFrom:
      fieldRef:
        fieldPath: spec.nodeName

filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
      - type: container
        enabled: true
        paths:
          - /var/log/containers/*.log

        json.keys_under_root: true
        json.add_error_key: true
        
        processors:
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"

    output.elasticsearch:
      hosts: ["https://elasticsearch-master.observability.svc.cluster.local:9200"]
      username: "elastic"
      password: "${ES_PASSWORD}"
      ssl.verification_mode: "none"
      index: "logs-%{+yyyy.MM.dd}"

    setup.template.enabled: false
    setup.ilm.enabled: false

extraVolumes:
  - name: varlogcontainers
    hostPath: { path: /var/log/containers }
  - name: varlogpods
    hostPath: { path: /var/log/pods }

extraVolumeMounts:
  - name: varlogcontainers
    mountPath: /var/log/containers
    readOnly: true
  - name: varlogpods
    mountPath: /var/log/pods
    readOnly: true