
image:
  repository: analytics-service
  tag: "v2"
  pullPolicy: Never

replicaCount: 1

service:
  port: 8080
  name: http

env:
  - name: KAFKA_BOOTSTRAP
    value: "team4-kafka-kafka-bootstrap.team4.svc:9092"

  - name: ENABLE_ANALYTICS_TOPIC
    value: "true"

  - name: INPUT_TOPICS
    value: "user-events,order-events,notification-events"

  - name: ANALYTICS_TOPIC
    value: "analytics-events"

  - name: CONSUMER_GROUP
    value: "observability-group-v2"

  # InfluxDB configuration for derived event metrics
  - name: INFLUX_URL
    value: "http://influxdb2.team4.svc:80"
  - name: INFLUX_ORG
    value: "team4"
  - name: INFLUX_BUCKET
    value: "analytics"
  - name: INFLUX_TOKEN
    valueFrom:
      secretKeyRef:
        name: influxdb-auth
        key: token
  - name: APP_VERSION
    value: "0.1.0"

resources: {}

serviceMonitor:
  enabled: true
  interval: 30s
  scrapePath: /metrics
  labels:
    release: kube-prometheus-stack

labels: {}
