
apiVersion: kafka.strimzi.io/v1
kind: KafkaTopic
metadata:
  name: ${name}
  namespace: ${namespace}
  labels:
    strimzi.io/cluster: ${cluster}
spec:
  partitions: 1
  replicas: 1
  config:
    retention.ms: 7200000

