
replicas: 1
env:
  - name: ELASTICSEARCH_HOSTS
    value: "https://elasticsearch-master.monitoring.svc.cluster.local:9200"
  - name: ELASTICSEARCH_USERNAME
    value: "elastic"
  - name: ELASTICSEARCH_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password
  - name: ELASTICSEARCH_SSL_VERIFICATIONMODE
    value: "none"

resources:
  requests: { cpu: "200m", memory: "512Mi" }
  limits:   { cpu: "1",    memory: "1Gi" }
